
USE [BanHangOnlineNew]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[discountID] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[type] [nvarchar](20) NULL,
	[value] [decimal](10, 2) NULL,
	[minOrderValue] [decimal](10, 2) NULL,
	[quantity] [int] NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[status] [bit] NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[discountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[note] [nvarchar](255) NOT NULL,
	[rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Galleries]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galleries](
	[galleryID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[picLink] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[galleryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[RecipientType] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](20, 2) NOT NULL,
	[color] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[orderConfirmed] [bit] NOT NULL,
	[orderDate] [datetime] NULL,
	[totalMoney] [decimal](20, 2) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[paymentStatus] [nvarchar](50) NULL,
	[deliveryStatus] [nvarchar](50) NULL,
	[paymentType] [nvarchar](100) NULL,
	[deliveryInfo] [nvarchar](100) NULL,
	[nameOrder] [nvarchar](100) NULL,
	[deliveryLocation] [nvarchar](300) NOT NULL,
	[discountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productCategories]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productCategories](
	[productID] [int] NOT NULL,
	[categoryID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[screen] [nvarchar](200) NULL,
	[os] [nvarchar](100) NULL,
	[mainCamera] [nvarchar](200) NULL,
	[selfieCamera] [nvarchar](200) NULL,
	[chip] [nvarchar](100) NULL,
	[ram] [nvarchar](100) NULL,
	[storage] [nvarchar](200) NULL,
	[sim] [nvarchar](200) NULL,
	[battery] [nvarchar](100) NULL,
	[charger] [nvarchar](200) NULL,
	[color] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](20, 2) NOT NULL,
	[discount] [decimal](20, 2) NULL,
	[quantity] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[description] [nvarchar](2000) NULL,
	[thumbnail] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[roleID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/25/2025 8:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[roleID] [int] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryID], [name], [description]) VALUES (1, N'Smartphones', N'High-performance mobile phones with advanced features.')
INSERT [dbo].[Categories] ([categoryID], [name], [description]) VALUES (2, N'Tablets', N'Mobile computers with larger screens than smartphones, ideal for entertainment, productivity, and creativity.')
INSERT [dbo].[Categories] ([categoryID], [name], [description]) VALUES (3, N'Apple', N'Premium smartphones,... known for their sleek design, powerful performance, and innovative iOS operating system.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([discountID], [code], [name], [type], [value], [minOrderValue], [quantity], [startDate], [endDate], [status], [createdAt]) VALUES (1, N'MUAHE2025', N'giảm giá mùa hè', N'fixed', CAST(500000.00 AS Decimal(10, 2)), CAST(5000000.00 AS Decimal(10, 2)), 5, CAST(N'2025-07-14T00:00:00.000' AS DateTime), CAST(N'2025-08-13T00:00:00.000' AS DateTime), 1, CAST(N'2025-07-15T00:11:10.110' AS DateTime))
INSERT [dbo].[Discounts] ([discountID], [code], [name], [type], [value], [minOrderValue], [quantity], [startDate], [endDate], [status], [createdAt]) VALUES (2, N'MUAHE20255', N'giảm giá mùa hè', N'fixed', CAST(500000.00 AS Decimal(10, 2)), CAST(1000000.00 AS Decimal(10, 2)), 5, CAST(N'2025-07-21T00:00:00.000' AS DateTime), CAST(N'2025-08-20T00:00:00.000' AS DateTime), 1, CAST(N'2025-07-21T08:01:42.333' AS DateTime))
INSERT [dbo].[Discounts] ([discountID], [code], [name], [type], [value], [minOrderValue], [quantity], [startDate], [endDate], [status], [createdAt]) VALUES (3, N'7K2025', N'Tester', N'fixed', CAST(6000.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)), 100, CAST(N'2025-07-25T00:00:00.000' AS DateTime), CAST(N'2025-08-24T00:00:00.000' AS DateTime), 1, CAST(N'2025-07-25T08:37:12.513' AS DateTime))
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([ID], [productID], [userID], [note], [rating]) VALUES (5, 25, 3, N'Sản phẩm rất tốt, giao hàng nhanh', 5)
INSERT [dbo].[Feedbacks] ([ID], [productID], [userID], [note], [rating]) VALUES (6, 26, 3, N'Không hài lòng về chất lượng', 2)
INSERT [dbo].[Feedbacks] ([ID], [productID], [userID], [note], [rating]) VALUES (7, 27, 3, N'Tạm ổn, phù hợp với giá tiền', 3)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Galleries] ON 

INSERT [dbo].[Galleries] ([galleryID], [productID], [picLink]) VALUES (1, 1, N'./img_svg/0_picProduct/Oppo/oppo-reno11-xanh.png')
INSERT [dbo].[Galleries] ([galleryID], [productID], [picLink]) VALUES (2, 1, N'./img_svg/0_picProduct/Oppo/oppo-reno11-xanh-bien.png')
INSERT [dbo].[Galleries] ([galleryID], [productID], [picLink]) VALUES (3, 2, N'./img_svg/0_picProduct/Iphone/11/pro_pro-max/iphone-11-pro-bac.jpg')
GO
SET IDENTITY_INSERT [dbo].[Galleries] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [RecipientType], [Title], [Message], [CreatedAt]) VALUES (1, N'Employee', N'lksfjsd', N'1234324', CAST(N'2025-07-15T10:25:39.0733333' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationID], [RecipientType], [Title], [Message], [CreatedAt]) VALUES (2, N'Customer', N'Siêu sale', N'Giảm giá 50% cho mọi đơn hàng', CAST(N'2025-07-15T10:46:23.8633333' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationID], [RecipientType], [Title], [Message], [CreatedAt]) VALUES (3, N'Customer', N'Giảm giá mùa hè', N'Giảm 50% - Đơn tối thiểu 1 triệu', CAST(N'2025-07-21T08:02:52.1966667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([ID], [productID], [orderID], [quantity], [price], [color]) VALUES (2, 2, 2, 1, CAST(20990000.00 AS Decimal(20, 2)), N'Vàng')
INSERT [dbo].[OrderDetails] ([ID], [productID], [orderID], [quantity], [price], [color]) VALUES (9, 4, 11, 1, CAST(8500000.00 AS Decimal(20, 2)), N'Đen')
INSERT [dbo].[OrderDetails] ([ID], [productID], [orderID], [quantity], [price], [color]) VALUES (10, 2, 12, 1, CAST(20990000.00 AS Decimal(20, 2)), N'Bạc')
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([orderID], [userID], [orderConfirmed], [orderDate], [totalMoney], [phone], [paymentStatus], [deliveryStatus], [paymentType], [deliveryInfo], [nameOrder], [deliveryLocation], [discountID]) VALUES (2, 4, 0, CAST(N'2025-07-15T00:12:00.123' AS DateTime), CAST(0.00 AS Decimal(20, 2)), N'1234567890', N'Watting', N'Watting', N'Watting', N'Watting', N'staff', N'stafflocation', NULL)
INSERT [dbo].[Orders] ([orderID], [userID], [orderConfirmed], [orderDate], [totalMoney], [phone], [paymentStatus], [deliveryStatus], [paymentType], [deliveryInfo], [nameOrder], [deliveryLocation], [discountID]) VALUES (11, 5, 1, CAST(N'2025-07-15T23:10:20.607' AS DateTime), CAST(0.00 AS Decimal(20, 2)), N'1234567890', N'Unpaid', N'Processing', N'PAYOS', N'Giaohangtietkiem', N'customer', N'customerlocation', NULL)
INSERT [dbo].[Orders] ([orderID], [userID], [orderConfirmed], [orderDate], [totalMoney], [phone], [paymentStatus], [deliveryStatus], [paymentType], [deliveryInfo], [nameOrder], [deliveryLocation], [discountID]) VALUES (12, 5, 1, CAST(N'2025-07-16T00:57:22.723' AS DateTime), CAST(0.00 AS Decimal(20, 2)), N'1234567890', N'Unpaid', N'Processing', N'PAYOS', N'Giaohangtietkiem', N'customer', N'customerlocation', NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[productCategories] ([productID], [categoryID]) VALUES (1, 1)
INSERT [dbo].[productCategories] ([productID], [categoryID]) VALUES (2, 1)
INSERT [dbo].[productCategories] ([productID], [categoryID]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([ID], [productID], [screen], [os], [mainCamera], [selfieCamera], [chip], [ram], [storage], [sim], [battery], [charger], [color]) VALUES (1, 1, N'6.4 inches', N'Android 14', N'50 MP', N'32 MP', N'MediaTek Dimensity 7050', N'8 GB', N'256 GB', N'Dual SIM', N'4500 mAh', N'65W', N'Xanh')
INSERT [dbo].[ProductDetails] ([ID], [productID], [screen], [os], [mainCamera], [selfieCamera], [chip], [ram], [storage], [sim], [battery], [charger], [color]) VALUES (2, 1, N'6.4 inches', N'Android 14', N'50 MP', N'32 MP', N'MediaTek Dimensity 7050', N'8 GB', N'256 GB', N'Dual SIM', N'4500 mAh', N'65W', N'Xanh biển')
INSERT [dbo].[ProductDetails] ([ID], [productID], [screen], [os], [mainCamera], [selfieCamera], [chip], [ram], [storage], [sim], [battery], [charger], [color]) VALUES (3, 2, N'5.8 inches', N'iOS 13', N'12 MP + 12 MP + 12 MP', N'12 MP', N'Apple A13 Bionic', N'4 GB', N'256 GB', N'Dual SIM', N'3046 mAh', N'18W', N'Bạc')
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productID], [name], [price], [discount], [quantity], [created_at], [updated_at], [description], [thumbnail]) VALUES (1, N'OPPO Reno11 F 5G 8GB-256GB', CAST(10000.00 AS Decimal(20, 2)), CAST(8000.00 AS Decimal(20, 2)), 100, CAST(N'2025-07-15T00:04:13.130' AS DateTime), CAST(N'2025-07-15T00:04:13.130' AS DateTime), N'OPPO Reno11 F 5G 8GB-256GB', N'./img_svg/0_picProduct/Oppo/oppo-reno11-thumnail.jpg')
INSERT [dbo].[Products] ([productID], [name], [price], [discount], [quantity], [created_at], [updated_at], [description], [thumbnail]) VALUES (2, N'iPhone 11 Pro 256GB', CAST(25000000.00 AS Decimal(20, 2)), CAST(20990000.00 AS Decimal(20, 2)), 100, CAST(N'2025-07-15T00:04:13.130' AS DateTime), CAST(N'2025-07-15T00:04:13.130' AS DateTime), N'iPhone 11 Pro 256GB', N'./img_svg/0_picProduct/Iphone/11/pro_pro-max/iphone-11-pro-thumnail.jpg')
INSERT [dbo].[Products] ([productID], [name], [price], [discount], [quantity], [created_at], [updated_at], [description], [thumbnail]) VALUES (3, N'iPhone 11 Pro 512GB', CAST(27900000.00 AS Decimal(20, 2)), CAST(23990000.00 AS Decimal(20, 2)), 100, CAST(N'2025-07-15T00:04:13.130' AS DateTime), CAST(N'2025-07-15T00:04:13.130' AS DateTime), N'iPhone 11 Pro 512GB', N'./img_svg/0_picProduct/Iphone/11/pro_pro-max/iphone-11-pro-thumnail.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([roleID], [name]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([roleID], [name]) VALUES (2, N'customer')
INSERT [dbo].[Roles] ([roleID], [name]) VALUES (3, N'staff')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userID], [fullName], [email], [password], [phone], [address], [roleID], [status]) VALUES (3, N'Nguyễn Mạnh Duy Hưng', N'ryannguyen070823@gmail.com', N'12345', N'1234567890', N'Nguyễn Mạnh Duy Hưnglocation', 2, 1)
INSERT [dbo].[Users] ([userID], [fullName], [email], [password], [phone], [address], [roleID], [status]) VALUES (4, N'staff', N'staff@gmail.com', N'12345', N'1234567890', N'stafflocation', 3, 1)
INSERT [dbo].[Users] ([userID], [fullName], [email], [password], [phone], [address], [roleID], [status]) VALUES (5, N'customer', N'customer@gmail.com', N'12345', N'1234567890', N'customerlocation', 3, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Discount__357D4CF9F4312C6C]    Script Date: 7/25/2025 8:57:50 AM ******/
ALTER TABLE [dbo].[Discounts] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72E12F1B9091358F]    Script Date: 7/25/2025 8:57:50 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164F52C5661]    Script Date: 7/25/2025 8:57:50 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ((0)) FOR [minOrderValue]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Galleries]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Galleries]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Galleries]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Orders] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Orders] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Orders] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Discounts] FOREIGN KEY([discountID])
REFERENCES [dbo].[Discounts] ([discountID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Discounts]
GO
ALTER TABLE [dbo].[productCategories]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([categoryID])
GO
ALTER TABLE [dbo].[productCategories]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([categoryID])
GO
ALTER TABLE [dbo].[productCategories]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([categoryID])
GO
ALTER TABLE [dbo].[productCategories]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[productCategories]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[productCategories]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[Roles] ([roleID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[Roles] ([roleID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[Roles] ([roleID])
GO
